.ckpt
.log
.xlsx
.png
.pyc
.idea/
__pycache__/
models_ckpt/
logs*/
spike_pattern_anal/
venv/
ILVRC2012_training_filename
tmp/
events-tfds/
model_ckpt/
model_ckpt_2/
tensorboard/
model_ckpt_3/
model_ckpt_4/
model_ckpt_test/
model_ckpt_1/
model_ckpt_distribution/
snn_train_log/