
tensorboard==1.11.0
tensorflow-gpu==1.11.0

matplotlib==3.0.2
numpy==1.15.4
scikit-learn==0.20.1
scipy==0.17.0

sklearn==0.0
termcolor==1.1.0
terminaltables==3.1.0
tqdm==4.28.1

pprofile
pandas
image
opencv-python
openpyxl
